{% extends "base.html" %}
{% block title %} admin form create content{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-6 mx-auto p-5">
                <h5 class="text-center">Admin create new content</h5>
                <label for="type" class="form-label">Type </label>
                <form action="/admin/contents/create" method="post" enctype="multipart/form-data">
                    <select name="type" class="form-control mb-2" >
                        <option value="film" selected >Film</option>
                        <option value="serie">Serie</option>
                    </select>

                    <label for="genre" class="form-label">Genre</label>
                    <input type="text" name="genre" class="form-control mb-2" {% if genre %} value="{{genre}}" {% endif %} required >

                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="title" class="form-control mb-2" {% if title %} value="{{title}}" {% endif %} required>

                    <label for="year" class="form-label">Year</label>
                    <input type="number" name="year" class="form-control mb-2" {% if year %} value="{{year}}" {% endif %} required>

                    <label for="iamge" class="form-label">Image </label>
                    <input type="file" name="image" class="form-control mb-2" {% if image %} value="{{image}}" {% endif %} required>
                    <!-- Los clicks son a través del API REST-->
                    <button type="submit" class="form-control mb-2 btn btn-primary">Create</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}



id INTEGER PRIMARY KEY AUTOINCREMENT,
type varchar(20),
genre varchar(20),
title varchar(255),
year integer,
image varchar(255),
clicks integer