{% extends "base.html" %}
{% block title %} admin form create user{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-6 mx-auto p-5">
                <h5 class="text-center">Admin create new user</h5>
                <form action="/admin/users/create" method="post">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" name="name" class="form-control mb-2" {% if name %} value="{{name}}" {% endif %} required >
                    <label for="password" class="form-label">clave</label>
                    <input type="password" name="password" class="form-control mb-2" {% if password %} value="{{password}}" {% endif %} required>
                    <label for="password_repeat" class="form-label">repeat the password</label>
                    <input type="password" name="password_repeat" class="form-control mb-2" {% if password_repeat %} value="{{password_repeat}}" {% endif %} required>
                    <label for="email" class="form-label">Email </label>
                    <input type="email" name="email" class="form-control mb-2" {% if email %} value="{{email}}" {% endif %} required>
                    <label for="birddate" class="form-label">Birddate </label>
                    <input type="date" name="birddate" class="form-control mb-2" {% if birddate %} value="{{birddate}}" {% endif %} required>
                    <label for="rol" class="form-label">Rol </label>
                    <select name="rol" class="form-control mb-2" >
                        <option value="normal" selected >Normal</option>
                        <option value="admin">Admin</option>
                    </select>
                    <button type="submit" class="form-control mb-2 btn btn-primary">Create</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

