{% extends "base.html" %}
{% block title %}Acerca{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-6 mx-auto p-5">
            <h5 class="text-center">Admin update user</h5>
            <form action="/admin/users/update" method="post">
                <label for="name" class="form-label">Name</label>
                <input type="text" name="name" class="form-control mb-2" {% if user[1] %} value="{{user[1]}}" {% endif %} required >
                <label for="password" class="form-label">password</label>
                <input type="password" name="password" class="form-control mb-2" {% if user[2] %} value="{{user[2]}}" {% endif %} required>
                <label for="password_repeat" class="form-label">Password repeat</label>
                <input type="password" name="password_repeat" class="form-control mb-2" {% if user[2] %} value="{{user[2]}}" {% endif %} required>
                
                <label for="email" class="form-label">Email </label>
                <input type="email" name="email" id="email" class="form-control mb-2" {% if user[3] %} value="{{user[3]}}" {% endif %} required>
                <label for="birddate" class="form-label">Birddate </label>
                <input type="date" name="birddate" class="form-control mb-2" {% if user[4] %} value="{{user[4]}}" {% endif %} required>
                <label for="roll" class="form-label">Roll </label>
                <select name="rol" required>
                    <option {% if user[5] %} value="{{user[5]}}" {% endif %} selected>{{user[5]}}</option>
                </select>
                
                <input type="hidden" name="id" value="{{user[0]}}" >
                <button type="submit" class="form-control mb-2 btn btn-primary">Update</button>
            </form>
        </div>
    </div>
</div>   
{% endblock %}

