<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbaradmin" aria-controls="navbaradmin" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbaradmin">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link"  href="/admin/users/showAll"><i class="bi bi-people-fill"></i> Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/contents/showAll"><i class="bi bi-file-earmark-play-fill"></i> Contents</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/users_contents/showAll"><i class="bi bi-person-video3"></i> Users_contents</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/settings/form_reset"><i class="bi bi-gear-fill"></i> Settings</a>
            </li>
        </ul>
        </div>
    </div>
</nav>