<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbaruser" aria-controls="navbaruser" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbaruser">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link"  href="/users/settings"><i class="bi bi-people-fill"></i> Settings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/users/favorite_films"><i class="bi bi-file-earmark-play-fill"></i> Favorite films</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/users/favorite_series"><i class="bi bi-person-video3"></i> Favorite series</a>
            </li>
        </ul>
        </div>
    </div>
</nav>