{% extends "base.html" %}
{% block title %} admin form create user{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-6 mx-auto p-5">
                <h5 class="text-center">Admin create new user content</h5>
                <label for="type" class="form-label">Type </label>
                <form action="/admin/users_contents/create" method="post">
                    <select name="user_id" class="form-control mb-2" >
                        {% for user in users %}
                            <option value="{{user[0]}}" selected >{{user[1]}}</option>
                        {% endfor %}
                    </select>
                    <select name="content_id" class="form-control mb-2" >
                        {% for content in contents %}
                            <option value="{{content[0]}}" selected >{{content[3]}}</option>
                        {% endfor %}
                    </select>
                    
                    <!-- Los clicks son a través del API REST-->
                    <button type="submit" class="form-control mb-2 btn btn-primary">Create</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}


