{% extends "base.html" %}
{% block title %}Acerca{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-6 mx-auto p-5">
            <h5 class="text-center">Admin update new user content</h5>
            <label for="user_id" class="form-label">user_id </label>
            <form action="/admin/users_contents/update" method="post">
                <select name="user_id" class="form-control mb-2" >
                    {% set user_id=user_content[1] %}
                    <option value="{{ user_id }}">{{ user_id }} ( {{ sqlite_users.get_user_by_field("id", user_id )[0][1]}} )</option> 
                    {% for user in users %}
                    
                            <option value="{{user[0]}}"  >{{user[0]}} ( {{ sqlite_users.get_user_by_field("id", user[0] )[0][1]}} )   </option>
                     
                    {% endfor %}
                </select>
                <label for="content_id" class="form-label">content_id </label>
                <select name="content_id" class="form-control mb-2" >
                    {% set content_id=user_content[2] %}
                    <option value="{{ content_id }}"  >{{ content_id }} ( {{ sqlite_contents.get_content_by_field("id", content_id )[0][3]}} )</option> 
                    {% for content in contents %}
                        
                            <option value="{{content[0]}}"  >{{content[0]}}  ( {{ sqlite_contents.get_content_by_field("id", content[0] )[0][3]}} )</option>
                   
                    {% endfor %}
                </select>
                
                <!-- Los clicks son a través del API REST-->
                <input type="hidden" name="id" value="{{user_content[0]}}">
                <button type="submit" class="form-control mb-2 btn btn-primary">Update</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

